@charset "utf-8";
/* CSS Document */
.item-title_inner{
background-color:#FFFFFF;
}
.item-title > span {
    display: inline-block;
    margin: 13px;
    
    vertical-align: middle;
}
.item-title > img {
    float: left;
}
.navbar-inner .center{
        height: 100%!important;
}
.list-block textarea {
    border: 1px solid black;
    height: 100px;
    line-height: 1.4;
    margin: 15px 0;
    padding-bottom: 7px;
    padding-top: 8px;
    resize: none;
}